---
import Layout from "../layouts/Layout.astro";
import RssFeed from "../components/RssFeed.astro";

//microCMS呼び出し
import { getBlogs } from "../library/microcms";
const response = await getBlogs({ fields: ["id", "title"] });
---

<Layout title="qoorus.com">
	<main>
		<RssFeed />
		<a class="twitter-timeline" data-width="300" data-height="400" href="https://twitter.com/Qoo_Rus?ref_src=twsrc%5Etfw">Tweets by Qoo_Rus</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		<ul>
		{
			response.contents.map((content: any) => (
			<li>
				<a href={content.id}>{content.title}</a>
			</li>
			))
		}
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}
</style>